    body{

    }

    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }

    .container {
        margin: 0 auto;
        background-color: #FFFFCC;
    }
    .container-fluid{
        background-color: #FFCC00;
    }
    h1 {
        font-family:"Monotype Corsivaб";
        font-size: 200%;
        text-align: center;
    }
    .header {
        min-height: 70px;

    }
    footer {

        height: 50px;
        background-color: #ffb902;
        text-align: center;
        margin: 0 auto;
    }
    menu a{
        text-decoration: none;
    }
    .head {
        min-height: 200px;
        margin-bottom: 5px;
        background: url("images/header.jpg");
    }
    .logoName {
        width: 400px;
        float: left;
        padding-bottom: 5px;
    }
    .logoName img{
        background-color: #CCCC00;
        border-radius: 10px;
        border: 2px solid #ffb902;
        width: 80%;
        margin-top: 50px;
        margin-left: 50px;

    }
    .headCenter {
        width: 300px;
        height: 200px;
        float: left;
        text-align: center;
    }
    .content{
        width: 80%;
        margin-right: 30px;
    }
    table{
    margin-top: 10px;
    }
    table td {
        width: 30px;
        height: 10px;
        padding-top: 5px;
        padding-left: 5px;
        vertical-align: middle;

    }
    input {
        border-radius: 5px;
    }
    ML  CSS   Result
    Edit on
    * {box-sizing: border-box;}


    nav {
        display: block;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    a {
        text-decoration: none;
        outline: none;
    }
    .topmenu {
        backface-visibility: hidden;
        position: relative;
        background: url(../images/tooplate_top.png) repeat-x top;
    }
    .topmenu:before, .topmenu:after {
        content: "";
        display: table;
        clear: both;
    }
    .topmenu li {
        display: inline-block;
        position: relative;


    }
    .link {
        font-family: 'Exo 2', sans-serif;
        display: inline;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        color: #003559;
        text-transform: uppercase;
        transition: color 0.4s ease-in-out;
    }
    .down:after {
        content:"\f107";
        margin-left: 8px;
        font-family: FontAwesome;
    }
    .link:hover {
        color: #E6855F;
    }
    .submenu {
        background: white;
        border: 2px solid #003559;
        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        width: 200px;
        transform: perspective(600px) rotateX(-90deg);
        transform-origin: 0% 0%;
        transition: 0.6s ease-in-out;
    }
    .submenu > li {
        display: block;
    }
    .topmenu li:hover > .submenu{
        visibility: visible;
        opacity: 1;
        transform: perspective(600px) rotateX(0deg);
    }
    .submenu li a {
        display: block;
        color:#003559;
        font-size: 16px;
        line-height: 36px;
        padding: 0 25px;
        font-family: 'Kurale', serif;
    }
    .submenu li a:hover {
        background-color: #ffb902;
    }
    .clear {
        clear: both;
    }

    .centrBox {
        border: 1px solid #ffb902;
        border-radius: 5px;

    }
    .centrBoxAdmin{
        min-height: 300px;
        width: 100%;
        float: left;
        border: 1px solid #ffb902;
        border-radius: 5px;
        margin: 10px;
    }
    .centrBoxText{
        font-family: "Lucida Sans Unicode",Helvetica,Arial,sans-serif;
        padding: 20px;
    }
    .centrBoxText li{
        list-style-type: disc;
        margin-left: 30px;
    }
    .categorii {
        float: left;
        width: 150px;
        height: 200px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
        background-color: #fff;
    }
    .categorii:hover{
        border: 2px solid #ffb902;
        box-shadow: 0 14px 28px #ffb902, 0 10px 10px #ffb902;
    }
    .NameCategori {
        height: 70px;
        text-align: center;
        margin-top: 15px;
    }
    .NameCategori a {
        text-decoration: none;
        color: #003559;
    }
    .ImgCategori {
        height: 130px;
    }
    .ImgCategori img {
        margin: 10px;

    }
    .cart_product{
        min-height: 250px;
        border: 2px solid #ffb902 ;
        border-radius: 15px;
        margin: 10px;
    }
    .cart_product_description{
        width: 420px;
        float: left;
    }
    .cart_product_img{
        box-shadow: #ffb902;
        float: right;
        width: 250px;
        height: 200px;
        margin:15px;
        border: 2px solid #ffb902;
        border-radius: 10px;

    }
    .cart_product_img img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }


    .btl {
        margin-left: 15px;
    }
    h2 {
       color: #ffb902;
    }
    aside{
        border: 1px solid #ffb902;
        border-radius: 5px;
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        .centrBox{
            width: 460px;
        }
        aside{
            float: none;
            width: 460px;background-color: #46b8da;
        }
        @media only screen and (max-width : 320px) {
            body{
               width:320px;
            }
            .header{
                width: 310px;
            }
            .head {
                width: 100%;
                height: 65px;
            }
            .logoName{
                width: 100%;
                height: 50px;
            }
            .logoName img{
                width: 97%;
                height: auto;
                margin: 0 auto;
            }
            .centrBox{
                width: 300px;
                margin: 0 auto;
            }
            aside{
                background-color: #953b39;
            }
            .categorii{
                background-color: #fff;
                width: 260px;
                height: 150px;
                margin: 0 auto;
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 5px;
            }
            .ImgCategori{
                margin-left: 30px;
            }
            .NameCategori{
                height: 20px;
            }
            .headCenter{
                display: none;
            }
        }
        #enterButton{
            float: right;
            padding-top: 20px;
        }
        #header{
            float: right;
        }
    }
